h2 {
    color: black;
    text-align: center;
}

.axis {
    font-family: arial;
    font-size: 0.6em;
}

path {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.tick {
    fill: none;
    stroke: black;
}

circle {
    opacity: 0.5;
    stroke: none;
}

.line_plot {
    fill: none;
    stroke: #4eb0bb;
    stroke-width: 1px;
}

.centered {
    align-content: center;
    margin: 0 100px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
#interactive{
    border: 1px black solid;
    width: 45%;
    padding: 5px;
    margin-right:10px;
}
#file{
    border:1px black solid;
    width: 45%;
    padding: 5px;
}
#box{
    display:flex;
    justify-content: space-around;
}
div h1{
    text-align: left;
    margin-top: -15px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}

div h1 span{
    background-color: white;
}